dailymotion.developer.api.key=""
dailymotion.developer.api.secret=""
dailymotion.account.user.id = ""
dailymotion.account.user.password=""
dailymotion.api.oauth2.access.token.uri="https://api.dailymotion.com/oauth/token"
dailymotion.api.oauth2.access.token.permitted.age.inSeconds = 3600
dailymotion.api.oauth2.access.token.download.json.file="/tmp/dailymotion.oauth2.json"
dailymotion.api.video.upload.scopes=[manage_videos, manage_playlists, manage_comments, write, delete]
dailymotion.api.video.upload.request.uri="https://api.dailymotion.com/file/upload"
dailymotion.api.video.upload.approval.uri="https://api.dailymotion.com/me/videos"
dailymotion.api.video.upload.publish.uri="https://api.dailymotion.com/video"
dailymotion.api.video.list.uri="https://api.dailymotion.com/videos"
security.camera.video.source.folder="/tmp/videos/dailymotion"
security.camera.video.archive.folder=""
